<div >
    <mat-toolbar color="primary" style="height: 5vh;">
        <div class="toolbar-container" style="height: 5vh;">

            <button fxFlexAlign.gt-xs="center" mat-icon-button class="example-icon" routerLink="/pagina-inicial">
                <mat-icon>home</mat-icon>
            </button>
            <span fxFlexAlign.gt-xs="center" style="width: 100%;">My App</span>
            <span fxFlexAlign.gt-xs="center">nomeDoUsuario</span>
          
            <button fxFlexAlign.gt-xs="center" mat-icon-button class="example-icon">
                <mat-icon>account_circle</mat-icon>
            </button>
        </div>
    </mat-toolbar>
</div>
  