.content-container {
    min-height: 100vh;
    box-sizing: border-box;
    padding: 25px;
  }
  .sidenav-aberto {
    width: 20vw;
    height: 100vh;
  }
  .sidenav-fechado {
    width: 8vw;
    height: 100vh;
}